
.page {
    display: flex;
    gap: 113px;
    color: #c7d5e7;
  }
  
  
  
  .logo span {
    margin-bottom: 50px;
    text-align: left;
  }
  
  .pageAside {
    flex-shrink: 0;
    width: 300px;
  
  }
  
  .pageMain {
    box-shadow: 1px 1px 20px 1px #c7d5e7;
    border-radius: 15px;
    padding: 70px;
  }
  
  .menu {
    text-align: left;
  }
  
  .menu li {
    display: block;
    height: 45px;
    padding: 8px;
    border-radius: 15px;
   }
  
   .menu li:hover {
    background-color: #F4F4F4;
   }
  
  
   .menu li:hover a {
    color: #000000;
   }
  
  a {
    text-decoration: none;
    color: #c7d5e7;
  }
  
  .form {
  }
  
  .formList {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .formItem {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .formLabel {
    color: #000000;
    text-align: left;
  }
  
  .formInput {
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 20px 1px #c7d5e7;
    display: block;
    height: 45px;
    width: 330px;
    padding-left: 20px;
  }
  
  .formBtcLabel {
    color: #c7d5e7;
    display: block;
  }
  
  .formBtnOwner {
    width: 145px;
    height: 24px;
    margin-top: 40px;
    background-color: #7BED99;
    color: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 220px;
  }
  
  .formBtnNext {
    width: 145px;
    height: 24px;
    margin: 40px auto 0;
    background-color: #7152DA;
    border-radius: 2px;
    color: #FFFFFF;
  }